#playButton, #settingsButton {
    -fx-background-color: linear-gradient(to right, #801db7, #48b15e);
    -fx-background-radius: 70;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 60;
    -fx-padding: -5px;
    -fx-font-family: 'Just Me Again Down Here';
    -fx-text-fill: rgb(44, 17, 63);
    -fx-font-size: 96px;
    -fx-line-spacing: 47px;
}

#chatButton {
    -fx-background-color: rgba(217, 217, 217, 0.5);
    -fx-background-radius: 70;
    -fx-padding: 10px;
    -fx-font-family: 'Julee';
    -fx-text-fill: white;
    -fx-font-size: 36px;
}

#mainWindow {
    -fx-background-color: black;
}

#titleLabel {
    -fx-text-fill: rgb(44, 17, 63);
    -fx-font-family: 'Julee';
    -fx-font-size: 180px;
}

#roundGreenButton {
    -fx-background-color: linear-gradient(to bottom, #18800E, #000000);
    -fx-background-radius: 100;
    -fx-border-color: black;
    -fx-border-width: 13px;
    -fx-border-radius: 100px;
    -fx-min-width: 136px;
    -fx-min-height: 136px;
    -fx-max-width: 136px;
    -fx-max-height: 136px;
}

#exitButton {
    -fx-background-radius: 100;
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-border-width: 0;
  -fx-border-color: transparent;
}

#chatPanel {
}

#chatInput {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый цвет */
    -fx-background-radius: 15; /* Закругленные углы */
    -fx-border-radius: 15; /* Закругленные углы */
}

#chatListView {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
    /* Ширина текстового поля */
}

#tile{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-pref-width: 100;
    -fx-pref-height: 100;
}

#score{
    -fx-pref-width: 200.0;
    -fx-pref-height: 100.0;
    -fx-opacity: 0.5;
    -fx-border-color: black;
    -fx-border-radius: 30;
    -fx-border-width: 10;
}