#playButton, #settingsButton {
    -fx-background-color: linear-gradient(to right, #801db7, #48b15e);
    -fx-background-radius: 70;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 60;
    -fx-padding: 10px;
    -fx-font-family: 'Just Me Again Down Here';
    -fx-text-fill: rgb(44, 17, 63);
    -fx-font-size: 96px;
    -fx-line-spacing: 47px;
}

#chatButton {
    -fx-background-color: rgba(217, 217, 217, 0.5);
    -fx-background-radius: 70;
    -fx-padding: 10px;
    -fx-font-family: 'Julee';
    -fx-text-fill: white;
    -fx-font-size: 36px;
}

#mainWindow {
    -fx-background-color: black;
}

#titleLabel {
    -fx-text-fill: rgb(44, 17, 63);
    -fx-font-family: 'Julee';
    -fx-font-size: 180px;
}

#roundGreenButton {
    -fx-background-color: linear-gradient(to bottom, #18800E, #000000);
    -fx-background-radius: 100;
    -fx-border-color: black;
    -fx-border-width: 13px;
    -fx-border-radius: 100px;
    -fx-min-width: 136px;
    -fx-min-height: 136px;
    -fx-max-width: 136px;
    -fx-max-height: 136px;
}

